<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593398023204-pbdaaf520ekpvk3gogibq8h264dhvf7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593398023204-pbdaaf520ekpvk3gogibq8h264dhvf7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>593398023204-2lla8qf12vv44602akkvf3peg7bobqpl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArqdXRPGNr5E9lcs5oeWP8bqFO7NpwO3c</string>
	<key>GCM_SENDER_ID</key>
	<string>593398023204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.kotakota.cubook</string>
	<key>PROJECT_ID</key>
	<string>cubook-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cubook-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593398023204:ios:2e2f66b5487e3a788b04b1</string>
	<key>DATABASE_URL</key>
	<string>https://cubook-dev.firebaseio.com</string>
</dict>
</plist>